/* Basic styling */
* {margin: 0; padding: 0; border: 0; vertical-align: baseline;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
html, body {height: 100%; margin: 0;}

body {
  font-family: "Segoe UI", sans-serif;
  background: #afccff;
  color: #FFF;
}

h1 {
  margin: 0 0 10px 0;
  font-weight: 600;
  line-height: 1.2;
}

p {
  margin-top: 10px;
  color: rgba(255,255,255,0.4);
}

/* Styling of window frame and titlebar */
body {
  border: 1px solid #48545c;
  overflow-y: hidden;
}  

#titlebar {
  display: block;
  position: fixed;
  height: 32px;
  width: calc(100% - 2px);
  color: #48545c;
}

.maximized #titlebar {
  width: 100%;
  padding: 0;
}

/* SLIDER CONTROLS */ 
/* Refresh slider */
#delay {
  position: absolute;
  top: 45%;
  left: 23%;
  transform: translate(-50%,-50%);
}
#delayspan{
  position: absolute;
  top: 41%;
  left: 23%;
  transform: translate(-50%,-50%);
}
#delaytitle{
  position: absolute;
  top: 10%;
  left: 70%;
  transform: translate(-50%,-50%);
  white-space: nowrap;
}
#num {
  position: absolute;
  top: 38%;
  left: 115%;
  transform: translate(-50%,-50%);
}
#ms {
  position: absolute;
  top: 38%;
  left: 130%;
  transform: translate(-50%,-50%);
}
/* Hover slider */
#delay2 {
  position: absolute;
  top: 52%;
  left: 23%;
  transform: translate(-50%,-50%);
}
#delayspan2{
  position: absolute;
  top: 48%;
  left: 23%;
  transform: translate(-50%,-50%);
}
#delaytitle2{
  position: absolute;
  top: 10%;
  left: 70%;
  transform: translate(-50%,-50%);
  white-space: nowrap;
}
#num2 {
  position: absolute;
  top: 38%;
  left: 115%;
  transform: translate(-50%,-50%);
}
#ms2 {
  position: absolute;
  top: 38%;
  left: 130%;
  transform: translate(-50%,-50%);
}
/* LOCK slider */
#delay3 {
  position: absolute;
  top: 59%;
  left: 23%;
  transform: translate(-50%,-50%);
}
#delayspan3{
  position: absolute;
  top: 55%;
  left: 23%;
  transform: translate(-50%,-50%);
}
#delaytitle3{
  position: absolute;
  top: 10%;
  left: 70%;
  transform: translate(-50%,-50%);
  white-space: nowrap;
}
#num3 {
  position: absolute;
  top: 38%;
  left: 115%;
  transform: translate(-50%,-50%);
}
#ms3 {
  position: absolute;
  top: 38%;
  left: 130%;
  transform: translate(-50%,-50%);
}

/* MAP SELECTION CONTROLS */
#maps{
  position: absolute;
  top: 8%;
  left: 4%;
}
.permap{
  position: relative;
}
.image{
  display: block;
  top: 8%;
  left: 15%;
}
.dropdown{
  min-width: 100px;
  max-height: 20px;
  position: absolute;
  margin: 1.5em;
  top: 80%;
  left: -18px;
}
.dropdown *{
  box-sizing: border-box;
}
.select{
  background: #2a2f3b;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #2a2f3b solid;
  border-radius: 0.5em;
  padding: 1em;
  cursor: pointer;
  transition: background 0.3s;
}

/* clicked styles */
.select-clicked{
  border: 2px #26489a solid;
  box-shadow: 0 0 0.8em #26489a;
}
.select:hover{
  background: #323741;
}
.caret{
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}

/* rotate styles */
.caret-rotate{
  transform: rotate(180deg);
}
#menu li:hover ul{
  max-height: 250px;
  overflow-y:auto;
  overflow: hidden;
}
#menu li ul{
  overflow: hidden;
}
.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: #323741;
  border: 1px #363a43 solid;
  box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
  border-radius: 0.5em;
  color: #9fa5b5;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  height: 200px;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2;
  z-index: 1;
  overflow-y:auto;
}
.menu li {
  padding: 0.7em 0.5em;
  margin: 0.2em 0;
  border-radius: 0.5em;
  cursor: pointer;
}
/* Active styles for dropdown */
.active{
  background: #23242a;
}
/* Open styles */
.menu-open{
  display: block;
  opacity: 1;
  overflow-y: auto;
}
.menu-open::-webkit-scrollbar {
  display: none;
}

#Bind{
  height: auto; 
  width: auto; 
  max-width: 100px; 
  max-height: 100px;
  padding: 5px;
  float: left
}
.BindDropdown{
  padding: 0px;
}

#Haven{
  height: auto; 
  width: auto; 
  max-width: 100px; 
  max-height: 100px;
  padding: 5px;
  float: left
}
.HavenDropdown{
  padding: 0px;
}

#Split{
  height: auto; 
  width: auto; 
  max-width: 100px; 
  max-height: 100px;
  padding: 5px;
  float: left
}
.SplitDropdown{
  padding: 0px;
}

#Ascent{
  height: auto; 
  width: auto; 
  max-width: 100px; 
  max-height: 100px;
  padding: 5px;
  float: left
}

#Icebox{
  height: auto; 
  width: auto; 
  max-width: 100px; 
  max-height: 100px;
  padding: 5px;
  float: left
}

#Breeze{
  height: auto; 
  width: auto; 
  max-width: 100px; 
  max-height: 100px;
  padding: 5px;
  float: left
}

#Fracture{
  height: auto; 
  width: auto; 
  max-width: 100px; 
  max-height: 100px;
  padding: 5px;
  float: left
}

#Pearl{
  height: auto; 
  width: auto; 
  max-width: 100px; 
  max-height: 100px;
  padding: 5px;
  float: left
}

#Lotus{
  height: auto; 
  width: auto; 
  max-width: 100px; 
  max-height: 100px;
  padding: 5px;
  float: left
}

#RegionDropdown{
  left: 60%;
  top: 37%;
  height: 100px;
  width: 150px;
}

/* Indicators for window controls */
#indicator {
  position: relative; 
  width: 200px;
  height: 200px;
  background-color: white;
  border: 1px solid #dddddd;
}
#main {
  height: calc(100% - 32px);
  margin-top: 32px;
  padding: 20px;
  overflow-y: auto;
}

/* Titlebar */
#titlebar {
  padding: 4px;
}
#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
  color: #48545c;
}
#titlebar {
  color: #2f4446;
  background: #48545c;
}
#titlebar #drag-region {
  display: grid;
  grid-template-columns: auto 138px;
}
#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 8px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  font-size: 12px;
  color: #FFF;
}
.maximized #window-title {
  margin-left: 12px;
}
#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}
#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
#window-controls {
  -webkit-app-region: no-drag;
}
#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
  #window-controls .icon {
    width: 10px;
    height: 10px;
  }
}
#window-controls .button {
  user-select: none;
}
#window-controls .button:hover {
  background: rgba(255,255,255,0.1);
}
#window-controls .button:active {
  background: rgba(255,255,255,0.2);
}
#close-button:hover {
  background: #E81123 !important;
}
#close-button:active {
  background: #F1707A !important;
}
#close-button:active .icon {
  filter: invert(1);
}
#min-button {
  grid-column: 1;
}
#max-button, #restore-button {
  grid-column: 2;
}
#close-button {
  grid-column: 3;
}
#restore-button {
  display: none !important;
}
.maximized #restore-button {
  display: flex !important;
}
.maximized #max-button {
  display: none;
}

/* STATUS LIGHT */
.status-light {
  margin: 5px 10px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  float: left;
}
.sl-red {
    background-color: #940;
    box-shadow: #225 0 -1px 7px 1px, inset #600 0 -1px 9px, #F00 0 0px 8px;
}
.sl-green {
    background-color: #690;
    box-shadow: #225 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 0px 8px;
}
.sl-blue {
    background-color: #4AB;
    box-shadow: #225 0 -1px 7px 1px, inset #006 0 -1px 9px, #06F 0 0px 8px;
}
.panel {
    overflow: hidden;
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    background-color: #afccff;
}
#indicator{
  position: absolute;
  left: 7%;
  top: 77%;
  max-height: 50px;
  background-color: #afccff;
  border: #afccff;
  transform: rotate(90deg);
}
/* Indicator text value */
#fail{
  position: absolute;
  left: 21.3%;
  top: 66.7%;
}
#ready{
  position: absolute;
  left: 21.3%;
  top: 72.3%;
}
#live{
  position: absolute;
  left: 21.3%;
  top: 77.9%;
}

/* LOGGING AND PRINTING */


/* SCAN BUTTON */
#startscan{
  position: absolute;
  top: 80%;
  left: 70%;
  transform: translate(-50%,-50%);
  width: 150px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
  background: linear-gradient(90deg,#5bcedf, #f96161, #fc8f46, #36e494);
  background-size: 400%;
  border-radius: 30px;
  z-index: 1;
}
#startscan:hover{
  animation: animate 8s linear infinite;
}
#startscan:before{
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg,#5bcedf, #f96161, #fc8f46, #36e494);
  background-size: 400px;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5s;
}
#startscan:hover:before{
  filter: blur(10px);
  opacity: 1;
}

@keyframes animate {
  0%{
      background-position: 0%;
  }
  100%{
      background-position: 400%;
  }
}

/* Suppress Scanning */
#endscan{
  position: absolute;
  top: 63%;
  left: 70%;
  transform: translate(-50%,-50%);
  width: 150px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
  background: linear-gradient(90deg,#5bcedf, #f96161, #fc8f46, #36e494);
  background-size: 400%;
  border-radius: 30px;
  z-index: 1;
}
#endscan:hover{
  animation: animate 8s linear infinite;
}
#endscan:before{
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg,#5bcedf, #f96161, #fc8f46, #36e494);
  background-size: 400px;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5s;
}
#endscan:hover:before{
  filter: blur(10px);
  opacity: 1;
}

@keyframes animate {
  0%{
      background-position: 0%;
  }
  100%{
      background-position: 400%;
  }
}